---
import { experience } from '../../data/experience';
import ExperienceCard, { type ExperienceItem } from '../Experience/ExperienceCard.astro';
---

<section id="experience" class="w-full px-4 py-5 sm:p-6 flex flex-col gap-8 border border-primary rounded-[10px]">
  <h2 class="-translate-y-12 bg-[var(--background-color)] px-4 py-2 w-fit">
    Expérience
  </h2>

  <ul class="list-none m-0 p-0 relative before:content-[''] before:absolute before:left-[14px] before:top-0 before:bottom-0 before:w-0.5 before:bg-primary">
    {
      experience.map((exp: ExperienceItem) => (
        <li class="relative mb-5 pl-10 before:content-[''] before:absolute before:left-[10px] before:top-[5px] before:w-[10px] before:h-[10px] before:bg-primary before:rounded-full">
          <ExperienceCard {...exp} />
        </li>
      ))
    }
  </ul>
</section>
