---
export interface ExperienceItem {
  position: string;
  company: string;
  duration: string;
  responsibilities: string[];
}

interface Props extends ExperienceItem {}
const { position, company, duration, responsibilities } = Astro.props;
---

<>
  <h3 class="m-0 text-[1.2em] text-primary">
    {position} — <span class="font-normal">{company}</span>
  </h3>
  <span class="block text-[0.9em] text-[var(--text-color)] opacity-70 mb-[10px]">
    {duration}
  </span>
  <div>
    {responsibilities.map((p) => (
      <p class="my-[5px] text-base text-[var(--text-color)]">{p}</p>
    ))}
  </div>
</>
